<ion-content class="ion-padding">
  <div class="space-y-5 flex flex-col items-center">
    <div class="bg-primary rounded-full p-1 w-20 h-20 flex justify-center items-center">
      <img src="assets/tick-square.svg" alt="">
    </div>
    <ion-text class="text-2xl font-bold">Reset Succesfully</ion-text>
    <ion-text class="text-light text-center">Please re-login to get started</ion-text>
  </div>
  <ion-button color="secondary" shape="round" expand="full" size="large" class="text-white mt-5 uppercase" (click)="close()">done</ion-button>
</ion-content>
