<ion-content [fullscreen]="true" class="ion-padding">
  <div class="">
    <ion-button fill="clear" (click)="back()"><img src="assets/arrow-left.svg" alt=""></ion-button>
  </div>
  <div class="flex flex-col space-y-3 my-5">
    <ion-text class="text-2xl font-bold">Forgot Password</ion-text>
    <ion-text class="text-[#6C7278]">Enter your email account to reset your
      password</ion-text>
  </div>
  <ion-item fill="outline" mode="md" shape="round" color="primary">
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>
<ion-footer class="pb-5 ion-padding">
  <ion-button shape="round" expand="full" size="large" class="uppercase text-white" (click)="open()">next</ion-button>
</ion-footer>
